<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quản lý đơn hàng</title>
  <link rel="stylesheet" href="/sidebar.css"> 
  <link rel="stylesheet" href="/orderpanel.css">
  <script src="/js/scripts.js" defer></script> 
</head>
<body>
  <div class="container">
    <%- include('../sidebar') %> 

    <div class="main-content">
      <h1>Quản lý Đơn Hàng</h1>
      <table border="1" cellspacing="0" cellpadding="10">
        <thead>
          <tr>
            <th>#</th>
            <th>Mã đơn hàng</th>
            <th>Khách hàng</th>
            <th>Ngày tạo</th>
            <th>Tổng tiền</th>
            <th>Trạng thái</th>
            <th>Hành động</th>
          </tr>
        </thead>
        <tbody>
        
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>
